/* Colores a usar */
$color-blanco: #FFFFFF;
$color-texto: #060A24;
$color-negro: #000000;
$color-verde-relleno: #00F3BB;
$azul-boton: #0000EC;
$color-verde-boton: #00F0B8;
$color-azul-boton: #0000FE;
$color-azul-claro: #0000FF;
$color-azul-oscuro: #0000A3;
